.habilidades{
  min-height: 100vh;
  background: #071126;
  color: white;
  padding: 100px 10%;
}


.habilidades h2{
  font-size: 40px;
  margin-bottom: 50px;
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 30px;

}

.skill-card{
  background: #101625;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 15px;
  padding: 25px;
  transition: .3s;
}

.skill-card:hover{
  transform: translateY(-5px);
  border-color:#ff4f87 ;
}

.skill-card h3{
  margin-bottom: 20px;
  font-size: 18px;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tags span{
  padding: 8px 16px;
  border: 1px solid #7b5cff;
  border-radius: 20px;
  font-size:14px;
  background: rgb(123,92,255,.08);
}